@font-face {
    font-family: 'Microsoft Yi Baiti';
    src: url('subset-Microsoft-Yi-Baiti.eot');
    src: url('subset-Microsoft-Yi-Baiti.eot?#iefix') format('embedded-opentype'),
    url('subset-Microsoft-Yi-Baiti.woff') format('woff'),
    url('subset-Microsoft-Yi-Baiti.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body,html{
    margin:0;
    background: #ececec;
}
*{
    box-sizing: content-box;
}

.logo-text{
    text-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    font-family: 'Microsoft Yi Baiti';
    color: white;
    line-height: 50px;
    font-size: 40px;
    margin-top: -5px;
    margin-left: 10px;
}
.logo-text strong{
    font-weight: normal;
    color: rgb(221, 50, 50);
}

header{
    background: #333;
    height: 50px;
    position: relative;
    box-shadow: 0px 0px 10px #00000017;
    z-index: 2;
    color: white;
}

.header-right{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    display: table;
}

.header-right>*{
    display: table-cell;
    vertical-align: middle;
    padding-left: 15px;
    font-size: 18px;
    line-height: 56px;
}

.button{
    transition: background-color;
    transition-duration: 0.3s;
}

.button:hover{
    background: #464646;
}

.button:active{
    background: #000;
}

.header-right .button{
    font-size: 20px;
    text-align: center;
    padding: 0px 10px 0px 12px;
    cursor: pointer;
    height: 50px!important;
    display: inline-block;
    margin-left: 13px;
}
.header-right .button i{
    position: relative;
}

.header-right #nickname{
    font-size: 16px;
    padding-right: 20px;
    padding-top: 1px;
}

.out-container{
    position: absolute;
    top: 45px;
    height: calc(100% - 45px);
    width: 100%;
}

.inset-container{
    height: 100%;
    width: 20px;
    position: absolute;
    display: table;
}

.left-container{
    background-color: #6b6b6b;
    width: 280px;
}
.right-container{
    background-color: #2b2b2b;
    left: 280px;
    width: calc(100% - 280px);
    display: table;
}


.tree, .tree-icon, .tree, .icon-edit{
    transition-property: background-color;
    transition-duration: 0.3s;
}
.tree .icon-edit{
    transition-property: box-shadow;
    transition-duration: 0.3s;
}
.tree {
    background: #4e4e4e;
    color: white;
    cursor: pointer!important;
}

.tree:active {background: #7b7b7b;}

.tree>* {
    display: inline-block;
}

.tree .iconfont {
    padding: 13px;
}

.tip {
    text-align: center;
    vertical-align: middle;
    color: white;
    display: table-cell;
    font-size: 33px;
    user-select: none;
    padding-bottom: 10%;
}

.tip .tree{
    width: 250px;
    font-size: 16px;
    text-align: left;
    display: table;
    margin: 0 auto;
    margin-top: 20px;
    cursor: default!important;
}


.tip .tree:hover,.tip .tree-icon:hover{
    background-color: #4e4e4e;
}

.tree .fold{
    float: right;
    margin-right: 0;
}

.tree-icon:hover, .tip .tree-icon.hover,.tree .icon-edit:hover{
    background: #7d7d7d;
}

.fade{
    animation: fade 1.3s;
    -webkit-animation: fade 1.3s infinite;
    -moz-animation: fade 1.3s infinite;
    -o-animation: fade 1.3s infinite;
}

@-webkit-keyframes fade {
    0%, 100%{background-color: #7d7d7d;} 50% {background: #4e4e4e;}
}

@-moz-keyframes fade {
    0%, 100%{background-color: #7d7d7d;} 50% {background: #4e4e4e;}
}

@-o-keyframes fade {
    0%, 100%{background-color: #7d7d7d;} 50% {background: #4e4e4e;}
}
@keyframes fade {
    0%, 100%{background-color: #7d7d7d;} 50% {background: #4e4e4e;}
}

.tip .tree-name .nickname {
    margin-left: 8px;
}


.tree-name {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 92px);
    vertical-align: middle;
}

.tree.root {
    background: #6b6b6b!important;
}

.tree.fold, .root{
    box-shadow: 0 4px 7px #00000033;
    z-index: 9;
    position: relative;
}

.tree-children>.tree-outer:last-child .tree:not(.fold) {
    box-shadow: inset 0 -8px 17px -6px #0000004f;
}

.subtitle{
    display: inline-block;
    font-size: 12px;
    padding-left: 10px;
}

.tree-children>.tree-outer:last-child .tree:not(.fold) .tree-icon:hover {
    box-shadow: inset 0 -8px 17px -6px #0000004f;
}