@font-face {
    font-family: 'Microsoft Yi Baiti';
    src: url('subset-Microsoft-Yi-Baiti.eot');
    src: url('subset-Microsoft-Yi-Baiti.eot?#iefix') format('embedded-opentype'),
    url('subset-Microsoft-Yi-Baiti.woff') format('woff'),
    url('subset-Microsoft-Yi-Baiti.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body,html{
    margin:0;
}
*{
    box-sizing: content-box;
}
body{
    background-image: url(../image/bg.jpg);
    background-size: cover;
}

.v-center-outer{
    position: absolute;
    display: table;
    width: 100%;
    height: 100%;
}

.v-center{
    display: table-cell;
    vertical-align: middle;
    z-index: 2;
    position: relative;
    padding-bottom: 8%;
}

.logo-text{
    text-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    font-family: 'Microsoft Yi Baiti';
    color: white;
    line-height: 7rem;
    font-size: 5.5rem;
    display: table;
    padding-right: 140px;
    padding-bottom: 20px;
}
.logo-text strong{
    font-weight: normal;
    color: rgb(221, 50, 50);
}

.login-outer{
    display: table;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .4);
    padding: 20px 40px 40px;
    border-radius: 10px;
    position: relative;
}

.text-field{
    padding-top: 20px;
}
.text-field input:focus{
    background-color: rgba(255, 255, 255, .3);
}

.text-field input::-webkit-input-placeholder{
    color: #ccc;
}
.text-field input::-moz-placeholder{
    color: #ccc;
}
.text-field input:-ms-input-placeholder{
    color: #ccc;
}

.text-field input{
    width: 99%;
    display: table;
    margin: 0 auto;
    border: 2px solid white;
    font-size: 18px;
    padding: 10px 20px;
    box-sizing: border-box;
    font-family: Microsoft YaHei;
    background-color: rgba(255, 255, 255, .1);
    outline: none;
    color: white;
    transition-property: all;
    transition-duration: .5s;
}

.beta{
    position: absolute;
    right: 45px;
    top: 120px;
    color: white;
    font-family: "Microsoft YaHei";
}

.buttons{
    display: table;
    width: 99%;
    margin: 0 auto;
    padding-top: 35px;
}
.buttons>div{
    display: table-cell;
    vertical-align: top;
}

.buttons>div button{
    width: 92%;
    box-sizing: border-box;
}

.switcher button{
    float: right;
}

.buttons button{
    border: 2px solid white;
    padding: 10px;
    outline: none;
    font-size: 16px;
    font-family: "Microsoft YaHei";
    transition-property: all;
    transition-duration: .3s;
}

.login button, .reg button{
    background-color: white;
}

.login button:active, .reg button:active{
    background-color: rgba(255, 255, 255, 0.5);
}

.switcher button{
    background-color: transparent;
    color: white;
}

.switcher button:active{
    background-color: rgba(255, 255, 255, 0.4);
}

.form{
    display: none;
}

.form.current{
    display: block;
}

.form .tip, .form .tip a{
    color: white;
}